<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleCalendarId" value="" />
    <add key="GoogleClientSecretPath" value="client_secret.json" />
    <add key="GoogleCredentialsPath" value="calendar-dotnet-quickstart.json" />
    <add key="ApplicationName" value="" />

    <add key="DiscordBotToken" value="" />
    <add key="GuildId" value="" />
    <add key="CalendarChannelId" value="" />
    <add key="MessagesToIgnore" value="" />
    <add key="AdminUserId" value="" />
  </appSettings>
</configuration>